@media(max-width:740px){
    #about .container{
        flex-direction: column;
        padding: 40px 0;
    }
    #about .perfil-photo{
    width: 200px;
    height: auto;
    }

    #about img{
    width: 200px;
    }

    
}
@media(max-width:460px){
    :root{
        font-size: 14px;
    }
    .container-menu{
        display: block;
        
    }

    .txt-header{
        font-size: 1.6rem;
        left: 30px;
    }
    
    #about .perfil-info{
        width: 290px;
        height: auto;
        }
        .rede{
            width: 130px;
        }
}    