*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    border: none;

    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --color-neutral: #fff;
    --color-primary:#5429CF;
    --color-primary-dark:#381a8a;
    --color-dark-one:#181818;
    --color-dark-two:#202020;
    --color-dark-gray: rgb(41,41,41);
    --color-green:rgb(8, 170, 76);

    --font-one: font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-gray);
}

/*---------------header-----------*/
header{
    position: relative;
}
nav{
    width: 100%;
    height: 10vh;

    background-color: rgba(0,0,0,0.5);
    
    position: absolute;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h1{
    color: var(--color-neutral);;
}
nav a {
    color: var(--color-neutral);
}
nav a:hover{
    font-weight: 700;
}
nav .menu{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .hamburger-btn{
    overflow-y: hidden;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;

    display: none;
}

.bg-header{
    width: 100%;
    height: 100%;
}
.bg-header img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.7;
}
.txt-header{
    font-size: 2rem;
    color: var(--color-neutral);
    text-shadow: 5px 5px 5px #181818;

    position: absolute;
    top: 30vh;
    left: 20%;
}
.btn{
    
    background-color: var(--color-primary);
    border-radius: 5px;
    border:solid 2px var(--color-primary) ;

    
    font-size: 1.2rem;

    transition: 200ms;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--color-primary-dark);
    border: solid 2px var(--color-green);
}
.wzap{
    width: 250px;
    height: 50px;
    box-shadow: 10px 10px 10px #181818;

}

.wzap a{
    color: var(--color-neutral);
}


/*-----------------about------------*/
#about{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-neutral);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

#about .container{
    width: 920px;
    min-height: 100vh;
   
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    
}
#about .perfil-photo{
    width: 200px;
    height: 400px;
}
#about img{
    width: 200px;
}

#about .perfil-info{
    width: 520px;
    height: 400px;
    
    text-align: justify;
}
.rede{
    width: 150px;
    height:40px;
    border: solid 2px var(--color-primary);
}
.rede a{
    color: var(--color-neutral);
    font-family: 'Poppins', sans-serif;
}
.rede i{
    color:white
}

/*-----------project-----------*/


#project{
width: 100vw;
min-height: 100vh;

background: var(--color-dark-one);

display: flex;
justify-content: center;


}
#project .container{
    width: 920px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-wrap: wrap;
}
#project h2{
    color: var(--color-neutral);
}
.card-box{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    

    color: var(--color-neutral);
}
#project .wrapper{
    width: 300px;
    height: 300px;
    margin: 5px auto;
    background-color: var(--color-dark-two);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card{
    width: 270px;
    height: 200px;
    margin: 5px;
    overflow: hidden;

}

.card img{
    width:100%;
    height:100%;
}
.btn-line{
    width: 100%;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
}
.btn-line button{
    width: 130px;
}
.btn-line a {
    color: var(--color-neutral);
    font-size: 1rem;
}

footer{
    background-color: #181818;
    width: 100vw;
    height: 10vh;
}

